* {
  box-sizing: border-box;
}

.login {
  height: 100vh;
  width: 100%;
  background: url('../img/844579-new-splatter-backgrounds-2560x1600-for-ipad-pro.jpg') center no-repeat border-box;
  overflow: hidden;

  .card {
    position: relative;

    &-header {
      padding: 0; // 0.5rem 1 rem
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: none;
      z-index: 5;
    }
  }

  & .wrap-login {
    width: 60%;

  }

  & .wrap-intro {
    width: 40%;
    background: linear-gradient(20deg, #fcdca1d0, #f77440e0);

  }

  &__form {
    // display: block;
    margin: 2rem;
    width: 90%;
    max-width: 500px;
    transition: all 0.3s linear;
  }

  &__intro {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    // background-color: #faf0cdcc;
    font-size: 18px;
    border-radius: 16px;
    color: #ffffff;


    & h1 {
      font-size: 3rem;
    }
  }
}

.login-radio,
.signup-radio {
  display: none;
}

.login-tab,
.signup-tab {
  padding: 0.5rem 1rem;
  width: 50%;
  text-align: center;
  border-top: 3px solid rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
  transition: all 0.2s linear;
  ;

  &:hover {
    border-top: 3px solid #fcdca1d0;
    color: #f77440;
  }
}

.login-body,
.signup-body {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  height: 0;
  background: inherit;
}

.login-body {
  transition: all 0.3s linear;
}

.signup-body {
  transition: all 0.5s linear;
}

.login-radio:checked~.login-body,
.signup-radio:checked~.signup-body {
  display: block;
  padding: 1rem 1rem;
}

.login-radio:checked~.login-body {
  height: 278px;
  transition: all 0.3s linear 0.5s;
}

.signup-radio:checked~.signup-body {
  height: 911px;
  transition: all 0.5s linear 0.3s;
}

.login-radio:checked~.card-header>.login-tab,
.signup-radio:checked~.card-header>.signup-tab {
  background: #ffffff;
  border-bottom: none;
  border-top: 3px solid #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);

  &:hover {
    background: #ffffff;
    border-bottom: none;
    color: inherit;
    cursor: default;
  }

  &:first-child {
    border-left: none;

  }

  &:last-child {
    border-right: none;
  }
}

.alert-container {
  position: fixed;
  top: 20%;
  left: calc(60% - 332px);
  width: 95%;
  max-width: 300px;
  z-index: 20;

  & .alert {
    opacity: 1;
    transition: all 1s linear;
  }
}

.ml-auto {
  margin-left: auto;
}

.col-md-12 {
  margin-bottom: 1.5rem;
}

.col-md-6 {
  margin-bottom: 1.5rem;
}

.btn-primary {
  background: #f77440;
  border-color: #fcdca1;

  &:hover {
    background: #fcdca1;
    border-color: #fcdca1;
    color: #000000;
  }

  &:focus {
    color: #ffffff;
    background-color: #f77440;
    border-color: #fcdca1;
    box-shadow: 0 0 0 0.25rem #f7744080;
  }
}

@keyframes hide {
  10% {
    height: auto;
  }

  50% {
    height: 40px;
  }

  90% {
    height: 0;
  }
}

@keyframes show {
  10% {
    height: 0;
  }

  50% {}

  90% {
    height: auto;
  }
}